In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns ; sns.set()

In [2]:
df = pd.read_csv(r"C:\Users\rahma\OneDrive\Documents\Monty Documents\Data 690 Stats\data.csv")

In [3]:
df

           name  medianHouseholdIncome  medianPerCapitaIncome    pop2019
0    Luxembourg                  52493                  18418    615.729
1        Norway                  51489                  19308   5378.857
2        Sweden                  50514                  18632  10036.379
3     Australia                  46555                  15026  25203.198
4       Denmark                  44360                  18262   5771.876
..          ...                    ...                    ...        ...
119      Rwanda                   1101                    235  12626.950
120  Madagascar                   1013                    205  26969.307
121     Liberia                    781                    118   4937.374
122     Burundi                    673                    129  11530.580
123        Togo                    571                    279   8082.366

[124 rows x 4 columns]

In [5]:
rich = df.nlargest(10, "medianHouseholdIncome")
rich

            name  medianHouseholdIncome  medianPerCapitaIncome     pop2019
0     Luxembourg                  52493                  18418     615.729
1         Norway                  51489                  19308    5378.857
2         Sweden                  50514                  18632   10036.379
3      Australia                  46555                  15026   25203.198
4        Denmark                  44360                  18262    5771.876
5  United States                  43585                  15480  329064.917
6         Canada                  41280                  15181   37411.047
7    South Korea                  40861                  11950   51225.308
8         Kuwait                  40854                   7487    4207.083
9    Netherlands                  38584                  14450   17097.130

In [7]:
poor = df.nsmallest(10, "medianHouseholdIncome")
poor

             name  medianHouseholdIncome  medianPerCapitaIncome    pop2019
123          Togo                    571                    279   8082.366
122       Burundi                    673                    129  11530.580
121       Liberia                    781                    118   4937.374
120    Madagascar                   1013                    205  26969.307
119        Rwanda                   1101                    235  12626.950
118        Zambia                   1501                    287  17861.030
117         Benin                   1502                    237  11801.151
116  Burkina Faso                   1530                    168  20321.378
115        Uganda                   1775                    296  44269.594
114         Kenya                   1870                    402  52573.973

In [9]:
rich_avg = rich["medianHouseholdIncome"].mean()
rich_avg

45057.5

In [10]:
poor_avg = poor["medianHouseholdIncome"].mean()
poor_avg

1231.7