<a href="https://colab.research.google.com/github/RahmanMonty/DATA690-WANG/blob/master/Assignments/Assignment_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import math

In [0]:
College = "https://ed-public-download.app.cloud.gov/downloads/Most-Recent-Cohorts-All-Data-Elements.csv"

Loading CSV and selecting wanted columns

In [0]:
CollegeInfo = pd.read_csv(College, usecols = ['CONTROL','MD_EARN_WNE_P10'])
CollegeInfo.head()

   CONTROL MD_EARN_WNE_P10
0        1           31000
1        1           41200
2        2           39600
3        1           46700
4        1           27700

In the csv file public schools are logged as 1 under the Control column and private schools are 2 under the Control column. We only want to observe the public schools.

In [0]:
New = CollegeInfo.loc[CollegeInfo['CONTROL']== 1]
New

      CONTROL MD_EARN_WNE_P10
0           1           31000
1           1           41200
3           1           46700
4           1           27700
5           1           44500
...       ...             ...
6799        1             NaN
6800        1             NaN
6801        1             NaN
6802        1             NaN
6805        1             NaN

[2102 rows x 2 columns]

In [0]:
New[New["MD_EARN_WNE_P10"] == 0]

Empty DataFrame
Columns: [CONTROL, MD_EARN_WNE_P10]
Index: []

In [0]:
# Here we are removing any values of 0 from the column
New = New[New["MD_EARN_WNE_P10"] != 0]

   CONTROL MD_EARN_WNE_P10
0        1           31000
1        1           41200
3        1           46700
4        1           27700
5        1           44500

In [0]:
# Here we are removing "PrivacySuppressed from the column"
New = New[New["MD_EARN_WNE_P10"] != "PrivacySuppressed"]

In [0]:
New.dropna(inplace=True)
New.info

In [0]:
SampleSize = 50
New50 = New.sample(50)
New50.head()

      CONTROL MD_EARN_WNE_P10
504         1           35200
4367        1           27900
2091        1           30700
3059        1           48400
3124        1           25800

In [0]:
New50["MD_EARN_WNE_P10"] = New50["MD_EARN_WNE_P10"].astype("int")
New50.dtypes

CONTROL            object
MD_EARN_WNE_P10     int64
MD_EARN_WNE_10      int64
dtype: object

In [0]:
#Calculating Standard Deviation the easy way

College_STD = New50["MD_EARN_WNE_P10"].std()
College_Mean = New50["MD_EARN_WNE_P10"].mean()
round(College_STD , 2)

10249.4

In [0]:
#Standard Error

SE = College_STD / math.sqrt(SampleSize)
SE

1449.4839616574034

In [0]:
LCL68 = College_Mean - SE
UCL68 = College_Mean + SE
print(LCL68)
print(UCL68)

34654.5160383426
37553.4839616574

In [0]:
LCL95 = College_Mean -  2 * SE
UCL95 = College_Mean +  2 * SE
print(LCL95)
print(UCL95)

33205.032076685195
39002.967923314805

In [0]:
LCL997 = College_Mean -  3 * SE
UCL997 = College_Mean +  3 * SE
print(LCL997)
print(UCL997)

31755.548115027792
40452.45188497221

In [0]:
PM = np.mean(New["MD_EARN_WNE_P10"].astype("int"))

In [0]:
print(PM)
print(College_Mean)
print("The difference between the two means are", College_Mean - PM)

36083.21640582839
36104.0
The difference between the two means are 20.783594171611185

In [0]:
New100 = New.sample(100)
SampleSize2 = 100

In [0]:
New100["MD_EARN_WNE_P10"] = New100["MD_EARN_WNE_P10"].astype("int")
New100.dtypes

CONTROL            int64
MD_EARN_WNE_P10    int64
dtype: object

In [0]:
College_STD2 = New100["MD_EARN_WNE_P10"].std()
College_Mean2 = New100["MD_EARN_WNE_P10"].mean()
round(College_STD2 , 2)

22255.74

In [0]:
SE2 = College_STD2 / math.sqrt(SampleSize2)
SE2

2225.573808656495

In [0]:
LCL68_2 = College_Mean2 - SE2
UCL68_2 = College_Mean2 + SE2
print(LCL68_2)
print(UCL68_2)

35423.426191343504
39874.573808656496

In [0]:
LCL95_2 = College_Mean2 -  2 * SE2
UCL95_2 = College_Mean2 +  2 * SE2
print(LCL95)
print(UCL95)

33205.032076685195
39002.967923314805

In [0]:
LCL997_2 = College_Mean2 -  3 * SE2
UCL997_2 = College_Mean2 +  3 * SE2
print(LCL997_2)
print(UCL997_2)

30972.278574030515
44325.72142596949

In [0]:
print("The difference between Population Mean and 100 College sample mean is ", College_Mean2 - PM)

The difference between Population Mean and 100 College sample mean is  1565.7835941716112

In [0]:
print("Population Mean = ", PM)
print("50 College sample mean = ", College_Mean)
print("100 College sample mean = ", College_Mean2)

Population Mean =  36083.21640582839
50 College sample mean =  36104.0
100 College sample mean =  37649.0

The College mean for 100 schools was further away from the population mean then the 50 college sample mean. Both sample means were within confidence intervals.